@import 'fonts';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tweaks';

:root {
  --navbar-height: 4rem;
}

@layer base {
  html {
    font-size: 2.5vw;

    @media screen(sm) {
      font-size: 16px;
    }
  }
}

@layer components {
  .logo {
    @apply font-display drop-shadow-spell;
  }

  .home-section-title {
    --line-color: var(--bc);
    @apply pb-1 mb-16 text-xl text-xl font-semibold border-b;

    border-image: linear-gradient(
        90deg,
        hsla(var(--line-color) / 0%),
        hsla(var(--line-color) / 25%),
        hsla(var(--line-color) / 0%)
      )
      1;
    border-color: hsla(var(--line-color) / 10%);

    &:not(:first-child) {
      @apply mt-24;
    }

    &.text-primary {
      --line-color: var(--p);
    }

    &.text-info {
      --line-color: var(--in);
    }
  }

  .spell-text-input {
    @apply font-spell uppercase tracking-widest;
  }
}
